In [1]:
# RESOURCES:
#https://www.youtube.com/watch?v=VlnJCV_cy8I

In [1]:
import os
import sys
import clr
import pandas as pd

clr.AddReference("System")  # Make sure to add a reference to the System namespace
from System import String, Array

C:\Users\austin.paxton\AppData\Local\Temp\ipykernel_43940\3183132935.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:

ETABS_dll_path = R"C:\Program Files\Computers and Structures\ETABS 20\ETABSv1.dll"

from enum import Enum

clr.AddReference("System.Runtime.InteropServices")
from System.Runtime.InteropServices import Marshal

# set the following path to the installed ETABS program directory
clr.AddReference(ETABS_dll_path)
from ETABSv1 import *

In [3]:
# key variables
ETABS_model_folder_path = R"test_models\ETABS_gravity"
ETABS_model_file_path = R"test_models\ETABS_gravity\2023-08-29_Gravity Model.EDB"
ProgramPath = R"C:\Program Files\Computers and Structures\ETABS 20\ETABS.exe"

In [4]:
# Boiler plate code to open ETABs File WITHOUT specifiying ETABs executible

# # create API helper object
# helper = cHelper(Helper())
# # create instance of ETABs object from specified path
# myETABSObject = cOAPI(
#                     helper.CreateObjectProgID("CSI.ETABS.API.ETABSObject")
#                 )

# # start ETABS application
# myETABSObject.ApplicationStart()

# # create SapModel object
# SapModel = cSapModel(myETABSObject.SapModel)

# # initialize model
# SapModel.InitializeNewModel()

# # open EtAbs model
# File = cFile(SapModel.File)
# ret = File.OpenFile(ETABS_model_file_path)

TypeError: object does not implement cOAPI

In [5]:
# Boiler plate code to open ETABs File by specifiying ETABs executible

# create API helper object
helper = cHelper(Helper())
# create instance of ETABs object from specified path
myETABSObject = cOAPI(helper.CreateObject(ProgramPath))

# start ETABS application
myETABSObject.ApplicationStart()

# create SapModel object
SapModel = cSapModel(myETABSObject.SapModel)

# initialize model
SapModel.InitializeNewModel()

# open EtAbs model
File = cFile(SapModel.File)
ret = File.OpenFile(ETABS_model_file_path)

In [6]:
# set units
kip_ft_F = 4
ret = SapModel.SetPresentUnits(eUnits(kip_ft_F))
# run model (this will create the analysis model)
Analyze = cAnalyze(SapModel.Analyze)  ###
ret = Analyze.RunAnalysis()

In [7]:
Results = cAnalysisResults(SapModel.Results)
Setup = cAnalysisResultsSetup(Results.Setup)

In [8]:
# count Linear Static Load Cases
LinearStatic=1
LoadCases = cLoadCases(SapModel.LoadCases)
ret = LoadCases.Count(eLoadCaseType(LinearStatic))
print(f"Load Case qty: {ret}")

Load Case qty: 9

In [9]:
# get linear static load case names
LC_names = []
num_names = 0
[ret, num_names, LC_names] = LoadCases.GetNameList(num_names, LC_names, eLoadCaseType(LinearStatic))

print(ret)
print("\n")
print(num_names)
print("\n")
print(type(LC_names))
print(LC_names[1])
for name in LC_names:
    print(name)

ETABS_LC = [name  for name in LC_names]

print(ETABS_LC)

0


9


<class 'System.String[]'>
Mech
Const
Mech
Dead
Live
Roof Live
S Dead
EQ-X_R=5
EQ-Y_R=5
~LLRF
['Const', 'Mech', 'Dead', 'Live', 'Roof Live', 'S Dead', 'EQ-X_R=5', 'EQ-Y_R=5', '~LLRF']

In [10]:
FrameObj = cFrameObj(SapModel.FrameObj)

NumberNames = 0
MyNames = []
PropName = []
StoryName = []
PointName1 = []
PointName2 = []
Point1X = []
Point1Y = []
Point1Z = []
Point2X = []
Point2Y = []
Point2Z = []
Angle = []
Offset1X = []
Offset2X = []
Offset1Y = []
Offset2Y = []
Offset1Z = []
Offset2Z = []
CardinalPoint = []

[
    ret,
    NumberNames,
    MyNames,
    PropName,
    StoryName,
    PointName1,
    PointName2,
    Point1X,
    Point1Y,
    Point1Z,
    Point2X,
    Point2Y,
    Point2Z,
    Angle,
    Offset1X,
    Offset2X,
    Offset1Y,
    Offset2Y,
    Offset1Z,
    Offset2Z,
    CardinalPoint
] = FrameObj.GetAllFrames(
    NumberNames,
    MyNames,
    PropName,
    StoryName,
    PointName1,
    PointName2,
    Point1X,
    Point1Y,
    Point1Z,
    Point2X,
    Point2Y,
    Point2Z,
    Angle,
    Offset1X,
    Offset2X,
    Offset1Y,
    Offset2Y,
    Offset1Z,
    Offset2Z,
    CardinalPoint
)

In [11]:
print(ret)

0

In [12]:
# explore frame data
def convert_system_array_to_list(sys_str):
    p_str = [item for item in sys_str]
    return p_str


#create pandas data frame
data = {
    "MyNames": convert_system_array_to_list(MyNames),
    "PropName": convert_system_array_to_list(PropName),
    "StoryName": convert_system_array_to_list(StoryName),
    "PointName1": convert_system_array_to_list(PointName1),
    "PointName2": convert_system_array_to_list(PointName2),
    "Point1X": convert_system_array_to_list(Point1X),
    "Point1Y": convert_system_array_to_list(Point1Y),
    "Point1Z": convert_system_array_to_list(Point1Z),
    "Point2X": convert_system_array_to_list(Point2X),
    "Point2Y": convert_system_array_to_list(Point2Y),
    "Point2Z": convert_system_array_to_list(Point2Z),
    "Angle": convert_system_array_to_list(Angle),
    "Offset1X": convert_system_array_to_list(Offset1X),
    "Offset2X": convert_system_array_to_list(Offset2X),
    "Offset1Y": convert_system_array_to_list(Offset1Y),
    "Offset2Y": convert_system_array_to_list(Offset2Y),
    "Offset1Z": convert_system_array_to_list(Offset1Z),
    "Offset2Z": convert_system_array_to_list(Offset2Z),
    "CardinalPoint": convert_system_array_to_list(CardinalPoint)
}

frames_df = pd.DataFrame(data)
frames_df.head()

,MyNames,PropName,StoryName,PointName1,PointName2,Point1X,Point1Y,Point1Z,Point2X,Point2Y,Point2Z,Angle,Offset1X,Offset2X,Offset1Y,Offset2Y,Offset1Z,Offset2Z,CardinalPoint
0,47,24Col8ksi,Level_2,587,58,13.67,275.0,0.0,13.67,275.0,10.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10
1,50,24Col8ksi,Level_3,58,563,13.67,275.0,10.5,13.67,275.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10
2,55,24Col8ksi,Level_2,588,31,13.67,245.0,0.0,13.67,245.0,10.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10
3,58,24Col8ksi,Level_3,31,561,13.67,245.0,10.5,13.67,245.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10
4,59,24Col8ksi,Level_2,2116,72,13.67,221.0,0.0,13.67,221.0,10.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10

In [28]:
# filter for columns (z is allways reserved for vetical axis in  ETABs)
cols_df = frames_df[(frames_df["Point1X"] == frames_df["Point2X"] ) & (frames_df["Point1Y"] == frames_df["Point2Y"]) ]
display(cols_df.head())

# find lowest level columns 
# in program User will be prompted to chose the level they want to transfer
cols_L2_df = cols_df[cols_df["StoryName"] == "Level_2"]

bot_cols = cols_df["MyNames"].unique().tolist()

def convert_to_system_string(p_list):
    return Array[String](p_list)


# print(type(convert_to_system_string(bot_cols[0])))

,MyNames,PropName,StoryName,PointName1,PointName2,Point1X,Point1Y,Point1Z,Point2X,Point2Y,Point2Z,Angle,Offset1X,Offset2X,Offset1Y,Offset2Y,Offset1Z,Offset2Z,CardinalPoint
0,47,24Col8ksi,Level_2,587,58,13.67,275.0,0.0,13.67,275.0,10.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10
1,50,24Col8ksi,Level_3,58,563,13.67,275.0,10.5,13.67,275.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10
2,55,24Col8ksi,Level_2,588,31,13.67,245.0,0.0,13.67,245.0,10.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10
3,58,24Col8ksi,Level_3,31,561,13.67,245.0,10.5,13.67,245.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10
4,59,24Col8ksi,Level_2,2116,72,13.67,221.0,0.0,13.67,221.0,10.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10

In [15]:
Results = cAnalysisResults(SapModel.Results)
Setup = cAnalysisResultsSetup(Results.Setup)

#select Load Cases for output
ret = Setup.DeselectAllCasesAndCombosForOutput()
ret = Setup.SetCaseSelectedForOutput('Dead')
print(ret)

0

In [16]:
#get Frame Forces for single Column
ObjectElm = 0

 #declare variables 
Name = str(1292)
NumberResults = 0
Obj = []
ObjSta = []
Elm = []
ElmSta = []
LoadCase = []
StepType = []
StepNum = []
P = []
V2 = []
V3 = []
T = []
M2 = []
M3 = []




[
    ret,
    NumberResults,
    Obj,
    ObjSta,
    Elm,
    ElmSta,
    LoadCase,
    StepType,
    StepNum,
    P,
    V2,
    V3,
    T,
    M2,
    M3
]=Results.FrameForce(
    Name,
    eItemTypeElm(ObjectElm),
    NumberResults,
    Obj,
    ObjSta,
    Elm,
    ElmSta,
    LoadCase,
    StepType,
    StepNum,
    P,
    V2,
    V3,
    T,
    M2,
    M3
)


print(f"analysis for: {Name}")
print(f"ret: {ret}")

analysis for: 1292
ret: 0

In [17]:
# explore results from Frame element
print(ret)
print(NumberResults)
print(P[0])
print(max(P))

print(LoadCase[2])

0
3
-28.891710959787133
-27.853024439979134
Dead

In [31]:
# get max axial force for each Object Element in a list

def find_max_axial(frame_objs: list) -> dict:
    ObjectElm = 0
    P_max = {}
    for frame in frame_objs:
        #declare variables 
        Name = str(frame)
        NumberResults = 0
        Obj = []
        ObjSta = []
        Elm = []
        ElmSta = []
        LoadCase = []
        StepType = []
        StepNum = []
        P = []
        V2 = []
        V3 = []
        T = []
        M2 = []
        M3 = []


        [
        ret,
        NumberResults,
        Obj,
        ObjSta,
        Elm,
        ElmSta,
        LoadCase,
        StepType,
        StepNum,
        P,
        V2,
        V3,
        T,
        M2,
        M3
        ]=Results.FrameForce(
        Name,
        eItemTypeElm(ObjectElm),
        NumberResults,
        Obj,
        ObjSta,
        Elm,
        ElmSta,
        LoadCase,
        StepType,
        StepNum,
        P,
        V2,
        V3,
        T,
        M2,
        M3
        )
        if ret == 0 and NumberResults != 0:
            P_max[frame] =  abs(min(P))
        else:
            print(f"Bad Response for frame: {frame}")
    return P_max


P_max = find_max_axial(bot_cols)
print(P_max)
print(type(P_max))
print(len(P_max))

{'47': 130.33290834967914, '50': 78.60489864177308, '55': 118.13143507268502, '58': 73.06973734246439, '59': 44.822920428148855, '85': 331.4827610481437, '86': 326.53475293541203, '87': 277.0399699972391, '88': 272.0919618845085, '89': 251.92490177740572, '90': 246.97689366467432, '91': 277.1365325136093, '92': 272.1885244008779, '93': 212.85127215895812, '94': 207.90326404622675, '95': 72.58094227675143, '96': 40.01763774457665, '97': 244.0328725860746, '98': 144.04874555287458, '99': 224.12415866940702, '100': 137.42422912829082, '101': 140.78878118546933, '102': 66.71287192033235, '103': 101.38470246572332, '104': 55.97457859444884, '105': 306.0444546066722, '106': 255.2443452022577, '107': 383.4729998522865, '108': 324.7591546057352, '109': 418.1698293746199, '110': 337.8373324546428, '111': 299.29000217899176, '112': 259.42348803667784, '113': 84.89716887473482, '114': 53.25652369956458, '115': 241.17577047885345, '116': 146.86346638351833, '117': 302.9312821440851, '118': 184.00878713883685, '119': 295.48141788069233, '120': 178.96799977208653, '121': 327.99597773626675, '122': 199.6246987944055, '123': 474.6189239284454, '124': 339.3692215191145, '125': 449.63004466218996, '126': 332.3361393169531, '127': 463.56155324251586, '128': 340.01712726740493, '129': 333.77222202128894, '130': 259.2377285800807, '131': 84.78954756477381, '132': 53.12988777972956, '133': 243.99949081407135, '134': 147.82785554393007, '135': 258.37843566658404, '136': 156.36109315566026, '137': 244.18925773005915, '138': 147.55760512351844, '139': 331.37794388855787, '140': 201.79142530057322, '141': 478.25220384960033, '142': 343.063899878232, '143': 448.96678030181084, '144': 333.94502121707376, '145': 467.00102205814375, '146': 344.0351006315392, '147': 327.0200633784074, '148': 255.2493343290051, '149': 83.77969495495087, '150': 52.49700778942037, '151': 248.5282388217458, '152': 151.40616574305108, '153': 217.04786128955888, '154': 131.93718227202933, '155': 204.53734798701177, '156': 123.65241065472522, '157': 333.4043310411057, '158': 202.47639515462163, '159': 476.435075475445, '160': 341.41656532222305, '161': 458.237646036433, '162': 344.24103667677406, '163': 472.4256360967084, '164': 350.3184470370498, '165': 318.0041052497805, '166': 245.80394312617778, '167': 75.25498061399979, '169': 211.56643754681156, '170': 128.55670212797, '171': 213.9031066122169, '172': 130.05822411769597, '173': 207.40858960277433, '174': 125.52252080608925, '175': 335.54180068459505, '176': 203.77107383677992, '177': 476.077715482036, '178': 340.6227925169998, '179': 458.10055942249056, '180': 344.14779588824706, '181': 472.16650871311657, '182': 350.737973759853, '183': 317.4602584013709, '184': 245.85287376017797, '185': 22.96987940068049, '187': 143.88461606368773, '189': 207.17492374339918, '190': 125.0368225373535, '191': 209.9610001258699, '192': 127.14607364409132, '193': 326.0568722876482, '194': 197.83108271260082, '195': 478.85459694778683, '196': 346.68962848603894, '197': 452.66766460504624, '198': 334.76664382829716, '199': 474.60307374705843, '200': 345.60906125873055, '201': 330.64827567712797, '202': 254.75055043685734, '203': 400.0079766228522, '204': 306.37567430200886, '205': 405.012100519993, '206': 310.10642177874035, '207': 407.1010804944319, '208': 309.8757755569426, '209': 417.6750799856703, '210': 318.8378984354995, '211': 414.350677330877, '212': 314.2447604342829, '213': 425.02310923353474, '214': 323.2077827263514, '215': 357.05434243096005, '216': 278.7515483306302, '217': 360.5560051627972, '218': 281.0316305024508, '263': 295.21938045558824, '264': 258.7376362420056, '265': 215.81794627315134, '266': 55.174386984513, '267': 83.00743521527573, '268': 83.92133403321168, '269': 339.69084358762046, '270': 353.94018813886646, '271': 386.6017763824603, '272': 424.82487633520554, '273': 371.50464071173974, '274': 99.9231792613535, '275': 140.09619532973392, '276': 461.08535363990245, '277': 431.736739301797, '278': 448.4221905996657, '279': 392.50651452525886, '280': 477.0566822112784, '281': 461.723077994917, '282': 159.93289247262456, '283': 228.6039929556542, '284': 321.4545532920644, '285': 316.00013384255385, '286': 122.36742640588646, '288': 88.5654652855723, '289': 100.64363159588459, '292': 289.445773699868, '293': 210.56710055895454, '294': 176.06259620779116, '295': 101.96162156378145, '296': 45.2296018560827, '287': 25.40986650127113, '297': 145.67320188731193, '298': 129.3513556422148, '299': 191.96761329753562, '300': 138.54712675071002, '301': 193.9977789650397, '302': 192.4679157068601, '303': 80.21200299800543, '304': 105.06093817652675, '305': 326.1835940725236, '306': 344.99302431667616, '307': 296.67443498503127, '308': 332.9317774505227, '309': 318.3420828438918, '310': 340.94883536054596, '311': 89.73858163979297, '312': 77.84873704095223, '313': 77.62133443641169, '314': 300.4409860869895, '315': 303.276177972085, '316': 313.27562188930864, '317': 210.69919660075138, '318': 48.87438738771315, '319': 76.70743561847576, '320': 253.61888656960548, '321': 260.04164184883865, '322': 343.281172333039, '323': 336.4434915321728, '328': 96.92866535835212, '329': 112.18299054998319, '330': 146.18711511297508, '331': 149.033987034351, '332': 138.2349812756967, '333': 138.234192948108, '334': 149.24472801783912, '335': 154.77936932544827, '336': 147.15635377496105, '337': 120.83037755275504, '338': 170.21505419973343, '339': 175.55704816016015, '340': 183.41692157010695, '341': 182.0224589185978, '342': 197.1191061328351, '343': 197.11859180353233, '344': 182.0843206429272, '345': 183.09022213232564, '346': 169.74219050306957, '347': 152.66404279589614, '348': 143.42659538235486, '349': 183.77180595930542, '350': 132.52847841043965, '353': 155.1137963219017, '354': 175.55921172705715, '355': 183.43790842978584, '356': 182.3190962150935, '357': 181.81449092277037, '358': 190.3219874609757, '359': 180.84478542204118, '360': 187.0947854270578, '361': 187.09478542700242, '362': 180.84478542207916, '363': 190.61278270240285, '364': 181.69729130196671, '365': 175.36129480746064, '366': 183.3934210736514, '367': 175.60078378055834, '368': 170.57483960168975, '369': 150.56340217169108, '370': 151.45299949148503, '371': 120.55770075328732, '372': 147.72031830233243, '373': 155.09539880106965, '374': 149.76201777421014, '375': 140.53856877951168, '376': 140.50437783660763, '377': 149.7576856440669, '378': 155.04924988525264, '379': 149.21932286143198, '380': 137.00149502099262, '352': 175.47795640623096, '633': 13.57541942021437, '634': 19.728537387168036, '262': 95.39333210523193, '539': 110.64765729686333, '549': 114.12100026309992, '619': 108.6796610225899, '620': 97.67265602941386, '622': 97.67148432912876, '624': 108.66175995728118, '625': 114.06785347033112, '626': 107.90719638951909, '630': 85.68688415817812, '632': 127.03339941008826, '635': 130.31960405421304, '636': 136.5421147498357, '637': 135.32410166977272, '638': 150.39617909254693, '639': 150.39528139054082, '640': 135.3086958905536, '641': 136.65255512638552, '642': 130.37930955848574, '643': 124.45995236736763, '644': 112.05317136973729, '645': 101.1517277815626, '647': 138.86294083839107, '648': 137.41023109315412, '649': 135.81943908697443, '650': 142.06943909204745, '651': 142.06943909199805, '652': 135.81943908701808, '653': 135.705769352182, '654': 135.82243371699755, '655': 112.85810917210303, '656': 111.97296393151588, '657': 127.23099610956584, '658': 130.80984176339436, '659': 136.6447953975427, '660': 135.25981389065663, '661': 144.14755637123332, '662': 143.86872826331452, '663': 135.3782231687802, '664': 136.70052626292636, '665': 130.89366153359367, '666': 113.78901913604332, '667': 100.10658698250347, '668': 110.06281294123924, '669': 114.1985467538063, '670': 108.9126280886589, '671': 99.67200137500144, '672': 99.71815945141879, '673': 108.91816987613822, '674': 114.25770180179072, '675': 108.13059569860421, '676': 85.35549960242, '6': 51.10315588138532, '10': 71.8752506712915, '14': 73.6453400047343, '16': 68.19176315692475, '18': 56.97280013848545, '20': 56.972142985357266, '21': 68.1877475384156, '23': 73.57160061028006, '26': 67.29855621445884, '28': 50.1624876106045, '30': 83.83289878012141, '32': 84.91936990816095, '34': 89.69426768811083, '36': 88.67660618407733, '40': 103.96970218189055, '42': 103.96931902704237, '45': 88.67508585165214, '48': 89.70171011422919, '49': 85.84132685826829, '52': 62.81675622085843, '53': 57.54539570414269, '56': 57.514000796534646, '57': 73.16418013910652, '60': 64.00873691220087, '61': 71.18827569075971, '64': 85.72485655738309, '67': 89.76398334989226, '68': 73.70858439632691, '71': 68.44163099698653, '72': 88.72771235588024, '75': 97.44806638432772, '76': 58.966844999569005, '921': 97.45953596466646, '928': 58.95429044000892, '938': 68.44449202276638, '940': 88.61198383947684, '941': 89.69127667012887, '942': 73.78471525865514, '943': 68.19860378092154, '944': 85.22337385060702, '945': 50.7792170618856, '946': 84.22758172233165, '947': 72.83369861605577, '948': 72.86670815745933, '949': 96.16690977241245, '950': 96.0502448557858, '951': 90.79409275197209, '952': 97.04409275698941, '953': 97.04409275703621, '954': 90.7940927519296, '955': 90.7544876063788, '956': 93.95407585620298, '1617': 194.67135065510826, '1663': 199.61935876783963, '1': 47.11199912243624, '5': 90.18200453425384, '77': 118.24849861828415, '290': 69.89491730188351, '1735': 53.118469819502195, '1736': 66.26625526365319, '1737': 113.30049050555306, '1738': 64.94690918915202, '70': 46.147128284905314, '73': 13.29764408664614, '74': 89.68833366117285, '326': 69.08358495229379, '579': 27.616879969245247, '618': 46.09692879707912, '1292': 28.891710959787133, '1293': 26.562647783708933, '1294': 26.418230184453073, '1295': 34.71484008364321, '1296': 29.225266082988586, '1235': 32.91986644107837, '1291': 40.75040034218243, '1298': 40.932650259649385, '1297': 32.75122000381554, '1236': 33.47036465327005, '1290': 43.22410191984614, '1299': 43.30934119066946, '1300': 33.48201799383172, '1237': 28.491312556743274, '1289': 42.680998020993776, '1302': 42.76800393302739, '1301': 28.706800989094017, '1288': 51.94903184441652, '1303': 44.97803605950379, '1285': 51.94903184441477, '1304': 44.97803605949634, '1277': 28.487516969175775, '1284': 42.68229832267086, '1308': 42.654351599377115, '1307': 28.707585832283776, '1309': 46.23201691801043, '1310': 49.431605169038754, '1312': 46.15210334129259, '1311': 52.40210334648634, '1313': 46.15210334132705, '1314': 52.40210334643617, '1316': 56.89653688910755, '1315': 56.89652828859003, '1324': 33.6234197312044, '1323': 29.9568661727545, '1322': 33.98126016872027, '1321': 56.56552701573383, '1319': 49.00848981132731, '1318': 38.29558720188466, '1317': 43.21648764483986, '1320': 49.00791246564355, '1281': 56.57495664629218, '1282': 38.31300346725481, '1283': 43.2210835740706, '1278': 33.43731213453331, '1279': 29.747280849933276, '1280': 33.974555327566804, '1234': 23.05615137878823, '1286': 19.05065612190659, '1287': 19.050930120368953, '1305': 21.494718123565427, '1306': 21.493633144184248, '2': 22.19156285507611, '324': 16.61511803985418, '325': 17.78158564482344, '54': 171.95702015384404, '63': 103.92279659906097}
<class 'dict'>
426

In [33]:
# add max forces to bot cols pandas dictionary
pd.options.mode.copy_on_write = True # ensures a copy is returned rather than a view
cols_L2_df["P_max"] = cols_L2_df["MyNames"].map(P_max)
display(cols_L2_df.head())

,MyNames,PropName,StoryName,PointName1,PointName2,Point1X,Point1Y,Point1Z,Point2X,Point2Y,Point2Z,Angle,Offset1X,Offset2X,Offset1Y,Offset2Y,Offset1Z,Offset2Z,CardinalPoint,P_max
0,47,24Col8ksi,Level_2,587,58,13.67,275.0,0.0,13.67,275.0,10.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10,130.332908
2,55,24Col8ksi,Level_2,588,31,13.67,245.0,0.0,13.67,245.0,10.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10,118.131435
4,59,24Col8ksi,Level_2,2116,72,13.67,221.0,0.0,13.67,221.0,10.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10,44.822920
5,85,24Col8ksi,Level_2,590,591,13.67,116.5,0.0,13.67,116.5,10.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10,331.482761
7,87,24Col8ksi,Level_2,594,595,13.67,90.5,0.0,13.67,90.5,10.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10,277.039970

In [34]:
# # exit application
ret = myETABSObject.ApplicationExit(False)
SapModel = None
myETABSObject = None

In [20]:
################################## CANT PASS LIST INTO FRAME FORCE MMETHOD ###########################################
#get Frame Forces for multiple Columns
ObjectElm = 2

 #declare variables 
Name = convert_to_system_string([str(1292), str(43)])
NumberResults = 0
Obj = []
ObjSta = []
Elm = []
ElmSta = []
LoadCase = []
StepType = []
StepNum = []
P = []
V2 = []
V3 = []
T = []
M2 = []
M3 = []




[
    ret,
    NumberResults,
    Obj,
    ObjSta,
    Elm,
    ElmSta,
    LoadCase,
    StepType,
    StepNum,
    P,
    V2,
    V3,
    T,
    M2,
    M3
]=Results.FrameForce(
    Name,
    eItemTypeElm(ObjectElm),
    NumberResults,
    Obj,
    ObjSta,
    Elm,
    ElmSta,
    LoadCase,
    StepType,
    StepNum,
    P,
    V2,
    V3,
    T,
    M2,
    M3
)


print(f"analysis for: {Name}")
print(f"ret: {ret}")

TypeError: No method matches given arguments for cAnalysisResults.FrameForce: (<class 'System.String[]'>, <class 'ETABSv1.eItemTypeElm'>, <class 'int'>, <class 'list'>, <class 'list'>, <class 'list'>, <class 'list'>, <class 'list'>, <class 'list'>, <class 'list'>, <class 'list'>, <class 'list'>, <class 'list'>, <class 'list'>, <class 'list'>, <class 'list'>)